# Build results
bin/
obj/
publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.rsuser

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
crash.log
